body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://image.freepik.com/vector-gratis/fondo-de-vector-azul-claro-de-rectangulos-y-cuadrados_6869-699.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

 {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  display: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 23%;
  padding: .5rem;
}
